#page
  #header
    %h1
      play
  #content
    %video{'width'=>'640', 'height'=>'480', 'controls'=>'controls'}
      %source{'src'=>'/file/video.mp4'}
      Your browser does not support HTML5 video. Please consider updating.
